<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts">Manage Causes</a></li>
            <li><a href="/faq">Manage Team</a></li>
            <li><a href="/latest-projects">Manage Testimonials</a></li>
        </ul>
    </div>
    <div class="admin-content">

        <div class="content">
            <h2 class="page-title">Edit Testimonial</h2>

            <form action="/delete-project/<%= project._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn admin-btn">Delete this Project</button>
            </form>

            <% if(messages.error){ %>
                <ul class="error">
                    <li><%= messages.error %></li>
                </ul>
            <% } %>
           
            <form action="/edit-project/<%= project._id %>" method="POST" enctype="multipart/form-data" class="add-post">

                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" class="text-input" value="<%= project.name %>">
                </div>

                <div>
                    <label for="profession">Profession</label>
                    <input type="text" name="profession" class="text-input" value="<%= project.profession %>">
                </div>

                <div>
                    <label for="testimony">Testimony</label>
                    <input type="text" name="testimony" class="text-input" value="<%= project.testimony %>">
                </div>

                <div>
                    <label for="image">Image</label>
                    <input type="file" name="image" id="img-input" class="text-input">
                </div>
              
                <div>
                    <input type="submit" class="btn" value="Update Project">
                </div>
            </form>

        </div>
    </div>
</div>
