<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts">Manage Causes</a></li>
            <li><a href="/faq">Manage Team</a></li>
            <li><a href="/latest-projects">Manage Testimonials</a></li>
            <li><a href="/my-services">Manage Counter</a></li>
        </ul>
    </div>
    <div class="admin-content">

        <div class="content">
            <h2 class="page-title">Edit Service</h2>

            <div>
                <form action="/delete-service/<%= service._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn admin-btn">Delete this Service</button>
                </form>
            </div>

            <% if(messages.error){ %>
                <ul class="error">
                    <li><%= messages.error %></li>
                </ul>
            <% } %>
           
            <form action="/edit-service/<%= service._id %>" method="post" enctype="multipart/form-data" class="add-post">

                <div>
                    <label for="districts">Districts</label>
                    <input type="text" name="districts" class="text-input" value="<%= service.districts %>">
                </div>

                <div>
                    <label for="volunteers">Volunteers</label>
                    <input type="text" name="volunteers" class="text-input" value="<%= service.volunteers %>">
                </div>

                <div>
                    <label for="goal">Goal</label>
                    <input type="text" name="goal" class="text-input" value="<%= service.goal %>">
                </div>

                <div>
                    <label for="raised">raised</label>
                    <input type="text" name="raised" class="text-input" value="<%= service.raised %>">
                </div>
              
                <div>
                    <input type="submit" class="btn" value="Add Changes">
                </div>
            </form>

        </div>
    </div>
</div>
