<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts">Manage Causes</a></li>
            <li><a href="/faq">Manage Team</a></li>
            <li><a href="/latest-projects">Manage Testimonials</a></li>
            <li><a href="/my-services">Manage Counter</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/add-project" class="btn admin-btn">Add New Testimonial</a>
            <a href="/latest-Projects" class="btn admin-btn">Manage Testimonials</a>
        </div>

        <div class="content">
            <h2 class="page-title">Manage Testimonials</h2>

            <% if(messages.success){ %>
                <ul class="success">
                    <li><%= messages.success %></li>
                </ul>
            <% } %>
           
            <table>
                <thead>
                    <th>SN</th>
                    <th>Name</th>
                    <th colspan="2">Action</th>
                </thead>
                <tbody>
                    <% projects.forEach(function(project, index) { %>
                        <tr>
                        <td><%= index + 1 %></td>
                        <td><a href="/project/<%= project._id %>"><%= project.name %></a></td>
                                    
                        <td><a href="/edit-project/<%= project._id %>" class="edit">Edit</a></td>
                        <td>
                            <form action="/delete-project/<%= project._id %>?_method=DELETE" method="post">
                            <button type="submit" class="delete">Delete</button>
                            </form>
                        </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
