<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= locals.title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="<%= locals.description %>" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    
    <div class="">
        <%- include('../partials/header.ejs')  %>
        
        <main class="main">
            <%- body %>

        </main>
       

        <%- include('../partials/footer.ejs')  %>
    </div>

    <div class="social-buttons">
        <a href="https://www.facebook.com/asio.noah" target="_blank" class="social-button facebook">
            <i class="bx bxl-facebook"></i>
        </a>
        <a href="https://twitter.com/asizynoah" target="_blank" class="social-button twitter">
            <i class="bx bxl-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/asiomizu-noah-19b91127a" target="_blank" class="social-button linkedin">
            <i class="bx bxl-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCPr4eONoW3N1JmlwC82buzA" target="_blank" class="social-button youtube">
            <i class="bx bxl-youtube"></i>
        </a>
    </div>

    <!-- whatsap button -->
    <div class="venom-button" id="myButton">



    </div>

    <div class="floating-wpp"></div>
   
    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>
    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>
    
    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>
</html>